/* Referência - Codier.io - Abdessalam Benharira 2018 */

@import url('https://fonts.googleapis.com/css?family=Nunito');



.btn_style--02-main {
  display: block;
  max-width: 100%;
  margin: auto;
  perspective: 800px;
  backface-visibility: hidden;
}

.btn_style--02 {
  position: relative;
  display: block;
  color: #fff;
  text-decoration: none;
  width: 100%;

  margin: auto;
  text-transform: uppercase;
  transform: rotateX(0);
  transform-style: preserve-3d;
  transition: all .4s cubic-bezier(.3,.95,.3,.95);
}

.btn_style--02 * {
  backface-visibility: hidden;
}

.btn_style--02-main:hover .btn_style--02{
  transform: translateY(-50%) rotateX(90deg)
}

.btn_style--02 .btn_style--02-front, 
.btn_style--02 .btn_style--02-back {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  cursor: pointer;
  transition: all .4s cubic-bezier(.3,.95,.3,.95);
}

.btn_style--02 .btn_style--02-front {
  background: #ff6348;
}

.btn_style--02 .btn_style--02-back {
  position: absolute;
  top: 100%;
  left: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  transform: translateY(-1px)
  rotateX(-90deg);
  transform-origin: 50% 0;
  background: #f3573c;
}